# Build Directory
build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.txt
video_list-txt
utils/debug.txt
utils/map.msg
utils/k_l_voc_names.txt
utils/output.txt.txt
utils/outputkl.txt.txt
utils/voc_output_k3'_l'4
utils/voc_output_k3'_l'5
utils/voc_output_k3'_l'6
utils/voc_output_k4'_l'4
utils/voc_output_k4'_l'5
utils/voc_output_k4'_l'6
utils/voc_output_k5'_l'4
utils/voc_output_k5'_l'5
utils/voc_output_k5'_l'6
utils/voc_output_k6'_l'4
utils/voc_output_k6'_l'5
utils/voc_output_k6'_l'6
utils/voc_output_k7'_l'4
utils/voc_output_k7'_l'5
utils/voc_output_k7'_l'6
utils/voc_output_k8'_l'4
utils/voc_output_k8'_l'5
utils/voc_output_k8'_l'6
utils/voc_output_k9'_l'4
utils/voc_output_k9'_l'5
utils/voc_output_k9'_l'6
utils/voc_output_k10'_l'4
utils/voc_output_k10'_l'5
utils/voc_output_k10'_l'6
